* {
  text-align: center;
  opacity: 0.9;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

body {
  background-color: black;
  margin: 0;
}

h2 {
  font-size: 32px;
}

h3 {
}

h4 {
  font-size: 22px;
}

h5 {
}

a {
  text-decoration: underline;
  color: seashell;
}

.header {
  z-index: 2;
  min-width: 600px;
  height: 69px;
  position: fixed;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 50px;
  margin: 10px;
  float: left;
}

.header > ul {
  padding: 0;
  float: right;
  list-style-type: none;
  margin-right: 10px;
}

.header > ul > li {
  display: inline;
  padding-left: 20px;
}
